/* Reseta os padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px; /* Ou o tamanho que preferir */
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fundo preto */
    color: #f0f0f0; /* Texto claro */
    line-height: 1.6;
}



/* Serviços Section */
.services {
    padding: 50px;
    background-color: #111; /* Fundo levemente mais claro que o header */
}

.services h2 {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-item {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.service-item h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
}

.service-item p {
    color: #ccc;
}

/* Frota Section */
.fleet {
    padding: 50px;
    background-color: #000; /* Mantém o fundo preto */
    text-align: center;
}

.fleet h2 {
    color: #f0f0f0;
    font-size: 36px;
    margin-bottom: 30px;
}

.fleet img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Sobre Section */
.about {
    padding: 50px;
    background-color: #111;
    color: #f0f0f0;
}

.about h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.about p {
    text-align: center;
    font-size: 18px;
    color: #ddd;
}

/* Blog Section */
.blog {
    padding: 50px;
    background-color: #000;
    color: #f0f0f0;
}

.blog h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.blog-post {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-post h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-post p {
    color: #ccc;
}

.blog-post a {
    color: #007bff;
    text-decoration: none;
}

.blog-post a:hover {
    color: #0056b3;
}

/* Contato Section */
.contact {
    padding: 50px;
    background-color: #111;
}

.contact h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact label {
    color: #ddd;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #333;
    border: none;
    color: #fff;
}

.contact button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #0056b3;
}

