/* Services Section */
.services {
    padding: 50px;
    background-color: #111;
    min-height: 50vh; /* Altura de 90% da tela */

}

.services h2 {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-item {
    background-color: #222;
    padding: 40px;
    border-radius: 15px;
    width: 30%;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
}

.service-item p {
    color: #ccc;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
    .service-item {
        width: 100%; /* Em telas menores, o item ocupa 100% da largura */
        margin-bottom: 20px; /* Espaçamento entre os itens */
    }

    .service-list {
        flex-direction: column; /* Empilhar os itens em coluna no mobile */
    }
}
