/* ========================== */
/*       Rodapé do Site        */
/* ========================== */

/* Footer */
footer {
    background-color: #000; /* Mantém o fundo preto */
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto branco */
}

footer p {
    margin-bottom: 10px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #007bff; /* Muda a cor no hover */
}
