/* ============================ */
/*         Seção Home (Hero)     */
/* ============================ */

.hero {
    display: flex;
    justify-content: space-between; /* Espaça o conteúdo (texto e formulário) horizontalmente */
    align-items: flex-end; /* Alinha o conteúdo no final da seção (parte inferior) */
    padding: 0 50px 50px 50px; /* Padding nas laterais e parte inferior, sem padding no topo */
    background-color: #000; /* Fundo preto */
    background-size: cover;
    background-position: center;
    height: 90vh; /* Altura de 90% da tela */
    color: #f0f0f0;
    position: relative;
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a área visível */
    min-height: 80vh; /* Altura mínima para evitar espaços vazios */
}

/* Container da imagem */
.hero-image {
    position: relative;
    flex: 1;
    height: 100vh;
    background-image: url('../../assets/images/driver.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax */
    background-repeat: no-repeat;
}

/* Texto sobreposto à imagem */
.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); /* Fundo preto com transparência */
    color: #f0f0f0;
    text-align: center;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #f8f9fa;
}

.hero-text p {
    font-size: 20px;
    color: #ddd;
    margin-top: 10px;
}

/* Formulário na parte direita */
.hero-form {
    flex: 0.5; /* Ocupa metade do espaço */
    padding: 0 18px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 380px; /* Define uma largura máxima para o formulário */
    margin-top: 0; /* Remove a margem superior */
    height: 100%; /* Ajuste para ocupar toda a altura disponível */
    overflow-y: auto; /* Adiciona barra de rolagem vertical, se necessário */
}

/* Ajuste adicional de altura e largura do formulário */
.hero-form form {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* O formulário ocupará toda a altura disponível */
}

.hero-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.hero-form input,
.hero-form button {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.hero-form input {
    background-color: rgba(255, 255, 255, 0.8);
}

.hero-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.hero-form button:hover {
    background-color: #0056b3;
}
